/*---------- Search filters -----*/
section {
    display: flex;
    height: 135px;
    justify-content: space-around;
    margin-bottom: 10px;
    padding-top: 9px;
    width: 910px;
}

.auto-search, .tire-search, .disc-search {
    border: 1px solid #b8b8b9;
    border-radius: 20px;
    box-shadow: 2px 2px 1px 1px #cbcbcb;
}

.auto-search {
    width: 411px;
}

.tire-search {
    margin: -1px 0 0 7px;
    width: 191px;
}

.disc-search {
    margin: -1px 0 0 2px;
    width: 266px;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 911px;
}

/* ---------- Side menu -----*/
aside {
    color: #114165;
    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: 13px;
    width: 185px;
}

.caption {
    align-items: center;
    border: 1px solid #949fa4;
    border-radius: 20px;
    box-shadow: 2px 2px 1px 1px #cbcbcb;
    color: #114165;
    display: flex;
    height: 20px;
    margin: 7px 0 0 -2px;
    padding: 3px;
    width: 176px;
}

.par-caption {
    background: #fff;
    border: 1px solid #949fa4;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    height: 23px;
    margin: 12px 0 0 -1px;
    padding: 2px;
    width: 147px;
}

.par-icon {
    height: 20px;
    margin: -2px 0 0 4px;
    width: 20px;
}

.par-name {
    margin: 2px 0 0 6px;
}

.side-menu {
    list-style: none;
}

.side-menu a {
    color: #114165;
    text-decoration: none;
}

.sub-menu {
    list-style-type: circle;
    margin: 0 0 -12px 52px;
}

.sub-menu li {
    margin: 1px 0 6px 2px;
    padding: 0 0 0 0;
}

.sub-menu a {
    color: #465961;
    margin-left: -9px;
    text-decoration: none;
}

.sub-menu li:hover a {
    color: #0c3256;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}
/* --------- Product grid ----*/
.product-grid {

    background: #e2e6e6;
    display: flex;
    flex-wrap: wrap;
    font-family: "Lucida Sans Unicode", sans-serif;
    height: 627px;
    margin: 4px 10px 0 7px;
    width: 524px;
}

figure {
    align-items: center;
    background: #e2e6e6;
    display: flex;
    height: 175px;
    flex-direction: column;
    margin: 3px 0 0 23px;
    
    width: 137px;
}
/* ----- Brand of a product ----*/
.product-brand1, .product-brand2, .product-brand3 {
    background: #e2e6e6;
    color: #206988;
    font-size: 15px;
    font-weight: bold;
}
.product-brand1 {
    margin: 8px 4px -1px 0;
    padding: 0 0 2px 0;
}
.product-brand2 {
    margin: 8px 0 -1px 17px;
    padding: 0 0 2px 0;
}
.product-brand3 {
    margin: 8px 0 -1px 33px;
    padding: 0 0 2px 0;
}
/* ----- Name of a product ----*/
.product-name1, .product-name2, .product-name3 {
    background: rgba(0, 0, 0, 0);
    font-size: 13px;
}

.product-name1 {
    margin: -9px 0 -2px 3px;
}
.product-name2 {
    margin: -9px 0 -2px 18px;
}
.product-name3 {
    margin: -9px -12px -2px 18px;
}
/* ----- Photo of a product ----*/
.product-img1, .product-img2, .product-img3 {
    background: #fff;
    border: 1px solid #b0b9bc;
    border-radius: 7px;
    height: 119px;
    padding: 3px 31px;
    width: 74px;
}

.product-img1 img {
    margin: 1px 0 0 -2px;
}
.product-img2 {
    margin: 1px  0 0 15px;
}
.product-img3 {
    margin: 1px 0 0 29px;
}
/* ----- Price of a product ----*/
.product-price1, .product-price2, .product-price3 {
    align-items: center;
    background: #e2e6e6;
    color: #114165;
    display: flex;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    margin: 14px 0 0 5px;
}

.product-price1 h4 {
    margin: 1px 5px 0 4px;
}
.product-price2 h4 {
    margin: 1px 0 0 22px;
}
.product-price2 p {
    padding: 0 0 0 8px;
}
.product-price3 h4 {
    margin: -5px 2px 0 39px;
}
.product-price3 p {
    padding: 0 0 0 3px;
}

.product-price1 p, .product-price2 p, .product-price3 p {
    font-size: 13px;
}

.first-line {
    margin: 0 0 0 0;
}
/* ---------- Brand filters -----*/
.brands {
    color: #114165;
    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: 13px;
    width: 185px;
}

input[type="checkbox"] {
    position: absolute;
    /*left: -9999px;*/
}

input[type="checkbox"] + label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../img/checkbox-icon.png) no-repeat;
}

input[type="checkbox"]:checked + label:before {
    background-position: 0 -32px;
}