.partners {
    margin: 40px 16px 18px 17px;
}

footer {
    align-items: center;
    background: #213a4d;
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 910px;
}

footer div {
    align-items: flex-end;
    background: #213a4d;
    display: flex;
    margin: 3px 5px 5px 0;
}

footer a {
    background: #213a4d;
    font-size: 12px;
    color: #bec6c9;
    font-family: "Arial Unicode MS", sans-serif;
    margin: 6px 0 0 4px;
    padding: 0 9px 0 10px;
    text-decoration: none;
}

footer a:hover {
    color: #52abcb;
}

footer p {
    background: #213a4d;
    color: #bec6c9;
    margin: 0 0 0 3px;
}

.copyright {
    background: #213a4d;
    font-size: 10px;
    color: #7f4740;
    font-family: "Arial Unicode MS", sans-serif;
    margin: 7px 17px 0 4px;

}